<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>OpenTyrian 2000 v3.0.0, Copyright (C) 2022-2025 The OpenTyrian Development Team, copyright (C) 2022-2025 Kaito Sinclaire, copyright (C) 2024-2025 AnV Software</string>
	<key>CFBundleSignature</key>
	<string>OTYR</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
</dict>
</plist>
