<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon_420x240.png</string>
		<string>icon_800x480.png</string>
	</array>
	<key>UILaunchImageFile</key>
	<string>icon_2320x720.png</string>
</dict>
</plist>
